<ion-content>

  <div class="container">

    <ion-list>

      <ion-item class="email" lines="full">

        <ion-label position="floating">Email</ion-label>

        <ion-input type="password"></ion-input>

      </ion-item>
      
      <ion-item class="password" lines="none">

        <ion-label position="floating">Senha</ion-label>

        <ion-input type="password"></ion-input>

      </ion-item>

    </ion-list>

    <ion-button expand="block" size="large" (click)="login()">

      <ion-icon slot="start" name="log-in-outline"></ion-icon> Entrar

    </ion-button>

  </div>

</ion-content>
