<ion-content color="primary">

  <div class="chat">

    <div [class]="msg.class + ' animate__animated animate__fadeIn'" *ngFor="let msg of messages">{{ msg.text }}</div>

  </div>

  <div [class]="typingClass + ' animate__animated animate__fadeIn'" *ngIf="typing">

    <ion-spinner name="dots"></ion-spinner>

  </div>

  <ion-fab slot="fixed" vertical="top" horizontal="start">

    <ion-fab-button color="primary">

      <ion-icon name="arrow-back"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>

<ion-footer class="ion-no-border">

  <div class="animate__animated animate__fadeIn" *ngIf="!typing">

    <ion-input placeholder="Digite seu nome completo" maxlength="100" autocapitalize="words" [(ngModel)]="value" *ngIf="step == 1"></ion-input>

    <ion-input inputmode="email" placeholder="Digite seu email" maxlength="255" [(ngModel)]="value" *ngIf="step == 2"></ion-input>

    <ion-input placeholder="Digite uma senha" maxlength="255" [(ngModel)]="value" *ngIf="step == 3"></ion-input>

    <ion-button fill="clear" color="medium" (click)="send()" *ngIf="step != 4">

      <ion-icon slot="icon-only" name="send"></ion-icon>

    </ion-button>

  </div>

</ion-footer>