/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.min.css";

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

ion-searchbar {
    padding: 0 10px !important;
    margin: 0 0 10px;

    .searchbar-input-container {
        height: 45px !important;

        input {
            height: 45px !important;
        }
    }
}

ion-button {
    --border-width: 1px;
    --border-radius: 25px;
    --box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-transform: none;
    height: 50px;

    &[size="small"] {
        font-size: 13px;
        height: 30px;
    }

    &[size="large"] {
        font-size: 16px;
        height: 55px;
    }
}
